.inc_pdp_tick_box_block {
    padding: 16px 8px;
    margin: 20px 0 3px;
    background: #fff;
    @media screen and (max-width: 1199px) and (min-width: 992px)  {
        padding-right: 6px;
    }
    &.inc_tick_simple {
        // @include media_query("820", "min") {
        //     border-top: none;
        // }
    }

    @include media_query("820", "max") {
       // margin-bottom: 20px;
    }
    @include media_query("480", "max") {
        //position: relative;
        //padding: 16px 0;
        
    }
    .inc_pdp_tick_box_title_block {
        padding: 0 8px 12px;
        @include media_query("480", "max") {
            //position: relative;
        }
        .inc_pdp_tick_box_title_text_block {
            font-family: $font-family;
            color: #3E3E3E;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px; 
            text-transform: capitalize; 

            .title_cas{
                display: none;
            }
        }
    }

    .inc_pdp_tick_box_product-list_block {
        padding: 0;
        background: #fff;
        @include media_query("850", "max") {
            padding-right: 4px;
        }
        @include media_query("480", "max") {
            position: relative;
        }
        .inc_product_module_block {
            .inc_product_showcase_block {
                .inc_product_block {
                    margin: 0;
                    padding: 0;
                    min-width: 100%;
                    border: none;
                    /*&.show_overlay{ //popup
                        .inc_product_desc_block {
                            &.promo_attr_avail{
                                padding-bottom: 86px;
                                @include media_query("820", "max") {
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }*/
                    &.configurable {
                        .inc_product_desc_att_variant_add_block{
                            display: block !important;
                            margin-top: 10px;
                            .inc_product_desc_att_variant_text{
                                display: block;
                            }
                        }
                    }
                    .inc_product_info_main_block {
                        display: flex;
                        padding-left: 46px;
                        min-width: 100%;
                        align-items: flex-start;

                        @include media_query("820", "max") {
                            //padding: 0 0 0 30px;
                            border: none;
                            padding: 0;
                            padding-left: 46px;
                        }
                        @media screen and (max-width: 480px) {
                            //padding-left: 62px;
                        }
                        @media screen and (max-width: 387px) {
                            //padding-left: 50px;
                        }
                        .inc_product_img_block {
                            //flex-basis: 112px; //35%;
                            width: 80px;
                            margin-right: 0;
                            position: relative;
                            flex-basis: unset;
                            
                           
                            @media screen and (max-width: 819px) {
                                //width: 75px;
                                padding: 0;
                            }
                            .inc_product_img_main_block {
                                .inc_product_img_main_zoom_block{
                                    display: none !important;
                                }
                                .inc_product_img_main_img {
                                    .inc_promo_img_block {
                                        display: none;
                                    }

                                    width: 80px;
                                    height: 80px;
                                    margin: 0;
                                    
                                    @media screen and (max-width: 412px) {
                                        //width: 75px;
                                       // height: 75px;
                                    }
                                    img {
                                        padding: 0;
                                        max-width: 100%;
                                    }
                                }
                            }
                        }

                        .inc_product_desc_block {
                            //flex-basis: 65%;
                            //flex-basis: calc(100% - 112px);
                            width: calc(100% - 80px);
                            flex-basis: unset;
                            padding: 0;
                            padding-left: 6px;
                            @include media_query("900", "max") {
                                padding-left: 6px;
                            }
                            @media screen and (max-width: 860px) {
                                //width: calc(100% - 90px);
                            }
                            
                            @include media_query("820", " max") {
                                //flex-basis: 75%;
                                padding-left: 3px;
                            }
                            @media screen and (max-width: 800px) and (min-width: 767px) {
                               //width: calc(100% - 75px);
                            }
                            @media screen and (max-width: 767px) {
                                padding-left: 12px;
                                //width: calc(100% - 112px);
                            }
                            @include media_query("480", "max") {
                                padding-left: 6px;
                            }
                            @media screen and (max-width: 435px) {
                                //width: calc(100% - 100px);
                            }
                            @media screen and (max-width: 412px) {
                                //width: calc(100% - 75px);
                            }
                            .inc_product_desc_offer_block{
                                .inc_product_desc_offerheader_block{
                                    .promo_div_block{
                                        left: 46px;
                                        color: #fff;
                                        padding: 4px;
                                        font-size: 12px;
                                        line-height: normal;
                                        top: 0;
                                        max-width: 80px;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                    }
                                }
                            }
                            .inc_product_desc_ratings_block {
                                display: none;
                            }
                            .inc_product_desc_energy_rating_block{
                                display: none;
                            }
                            .inc_product_desc_att_details_block{
                                @include media_query("820", "max") {
                                    display: block;
                                    padding: 0;
                                }

                                .inc_product_desc_att_block{
                                    .select_option_inc_block {
                                        @include media_query("820", "max") {
                                            display: none !important;
                                        }
                                    
                                    }
                                    .inc_product_desc_att_color_block.active {
                                        @include media_query("820", "max") {
                                            display: block !important;
                                            margin-top: 20px;
                                        }
                                        .inc_product_desc_att_color_title_block{
                                            .inc_product_desc_att_color_title_text_block{
                                                display: none;
                                            }
                                        }
                                        .inc_product_desc_att_color_list_block {
                                            @include media_query("820", "max") {
                                                display: flex;
                                                overflow: auto;
                                                padding-bottom: 5px;
                                                .inc_product_desc_att_color_list_item_block{
                                                    background: #eee;
                                                    border-radius: 3px;
                                                    width: max-content;
                                                    max-width: max-content;
                                                    min-width: max-content;
                                                    margin-right: 10px;
                                                    height: 40px;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    padding: 0px 8px;
                                                    border: none;
                                                    border: 1px solid rgba(0,0,0,0);

                                                    &.active {
                                                        border: 1px solid #0277bd;
                                                        box-shadow: 0px 0px 1px 1px rgba(2,119,189,.3);
                                                    }
                                                    .inc_product_desc_att_color_list_item_img {
                                                        white-space: nowrap;
                                                        color: #161615;
                                                        a {
                                                            white-space: nowrap;
                                                            line-height: 40px;
                                                            font-size: 14px;
                                                            min-width: 50px;
                                                            display: block;
                                                            text-align: center;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    
                                   /*
                                    top: 0;
                                    bottom: auto;
                                    width: calc(100% - 126px);
                                    left: 126px;
                                    @media screen and (max-width: 1199px) and (min-width: 992px)  {
                                        width: calc(100% - 100px);
                                        left: 100px;
                                    }
                                    @include media_query("820", "max") {
                                        width: 100%;
                                        left: 0;
                                    }
                                    &.active{
                                        //top: auto;
                                        //bottom: 0;
                                        @include media_query("820", "max") {
                                            top: auto;
                                            bottom: 0;
                                        }
                                    }
                                    &.attributes_avail.active{
                                        padding: 8px;
                                        padding-top: 2px;
                                        box-shadow: inset 0px 0px 4px 2px #ededed;
                                        display: flex;
                                        flex-direction: column;
                                        .inc_product_desc_qty_block{
                                            order: 2;
                                        }
                                        .inc_product_desc_variant_popup_close_block{
                                            top: 0;
                                            position: relative;
                                            order: 1;
                                            &:before{
                                                font-size: 14px;
                                            }
                                            &:after{
                                                background: rgba(0,0,0,0) url(../images/new_sprite.svg) -9px -163px/87px no-repeat;
                                                @media screen and (max-width: 1199px) and (min-width: 992px)  {
                                                    right: -7px;
                                                }
                                            }
                                        }
                                        .select_option_inc_block{
                                            order: 3;
                                            select{
                                                &.inc_variant_tag{
                                                    .variantoption{
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                        }
                                        .inc_product_desc_att_variant_add_block{
                                            order: 4;
                                            .inc_product_desc_att_variant_text{
                                                display: block;
                                            }
                                        }
                                    }*/
                                } 
                            }
                            .inc_product_variant_simple_block.selected_inc .inc_product_variant_simple_text.config::after {
                                @include media_query("820", "max") {
                                    right: 30px;
                                    top: 0;
                                }
                               
                              }
                            .inc_product_variant_simple_text{
                                &.simple{
                                    display: none;
                                }
                                &.config{
                                    display: block;
                                    /*@media screen and (max-width: 1199px) and (min-width: 992px)  {
                                        font-size: 10px;
                                    }
                                    @include media_query("350", "max") {
                                        font-size: 12px;
                                    }*/
                                }
                            }
                            .inc_product_desc_qty_block{
                                margin-bottom: 1px;
                                input[type="number"]::-webkit-outer-spin-button,
                                input[type="number"]::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                               
                                }
                                input[type="number"] {
                                -moz-appearance: textfield;
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                                }
                                label {
                                    padding-right: 7px;
                                }
                            }
                            .inc_product_desc_title_block .inc_product_desc_title_text_block .inc_product_desc_title_text a {
                                min-height: auto;
                                margin: 0;
                                font-size: 13px;
                                font-weight: 700;
                                div{
                                    font-weight: 700;
                                }
                            }

                            .inc_product_desc_ecirp_block {
                                min-height: auto;
                                .inc_product_desc_ecirp_active_block{
                                    .inc_product_desc_ecirp_active_text_block .inc_product_desc_ecirp_active_text {
                                        font-weight: 700;
                                        @media screen and (max-width: 905px) {
                                            font-size: 14px;
                                        }
                                        @media screen and (max-width: 872px) {
                                            font-size: 12px;
                                        }
                                        @media screen and (max-width: 767px) {
                                            font-size: 16px;
                                        }
                                        @media screen and (max-width: 370px) {
                                            font-size: 14px;
                                        }
                                        @media screen and (max-width: 419px) {
                                            //font-size: 12px;
                                        }
                                    }
                                }
                                .inc_product_desc_ecirp_regular_block{
                                    .inc_product_desc_ecirp_regular_text_block .inc_product_desc_ecirp_regular_text {
                                        padding: 0 8px;
                                        @include media_query("900", "max") {
                                            padding: 0 0 0 30px;
                                            padding: 0 6px;
                                        }
                                        @media screen and (max-width: 860px) {
                                            padding: 0 4px;
                                        }
                                        @include media_query("850", "max") {
                                            font-size: 11px;
                                        }
                                        @media screen and (max-width: 767px) {
                                            padding: 0 8px;
                                        }
                                        @include media_query("480", "max") {
                                            padding: 0 4px;
                                        }
                                    }
                                }
                                .inc_product_desc_ecirp_worth_block{
                                    color: #CA122E;
                                    font-size: 12px;
                                    @include media_query("850", "max") {
                                        font-size: 11px;
                                    }
                                }
                            }

                            .inc_product_desc_qty_add_btn_block {
                                margin-right: 6px;
                                @include media_query("820", " max") {
                                    margin-right: 0;
                                    margin-top: 0;
                                }
                                .inc_product_desc_add_block {
                                    top: 29px;
                                    left: 0;
                                    width: 40px;
                                    box-shadow: none;
                                    padding: 0;
                                    background: transparent;
                                    border-radius: 0;
                                    @include media_query("820", " max") {
                                        left: 0px;
                                        //top: 36%;
                                        position: absolute;
                                        flex-direction: column;
                                    }
                                    @media screen and (max-width: 387px) {
                                        padding-left: 50px;
                                    }
                                    .inc_product_desc_add_img_block{
                                        /*position: absolute;
                                        top: 37px;
                                        left: 0;
                                        width: 56px;
                                        height: 56px;
                                        border: 1.25px solid #f2f2f2;
                                        @media screen and (max-width: 767px) {
                                            top: 30px;
                                        }
                                        @media screen and (max-width: 387px) {
                                            width: 46px;
                                            height: 46px;
                                            top: 36px;
                                        }
                                        @include media_query("371", "max") {
                                            top: 31%;
                                        }*/
                                        .inc_product_desc_add_img {                                        
                                            width: 24px;
                                            height: 24px;
                                            top: 11px;
                                            left: 11px;
                                            border: 1px solid #0277BD;
                                            background: #fff;
                                            border-radius: 2px;
                                            @include media_query("1025", "max") {
                                                
                                            }
                                            @media screen and (max-width: 387px) {
                                                top: 6px;
                                                left: 6px;
                                            }
                                            &.checked{
                                                background: #67A509 url(../images/new_sprite.svg) -49px -49px/70px no-repeat;
                                                border: 1px solid #67A509;
                                            }
                                        }
                                    }
                                }

                                &.configurable {
                                    .inc_product_add_block {
                                        display: flex !important;
                                        margin-top: 10px;
                                    }
                                }
                                
                                &.simple.added_inc{
                                    justify-content: flex-start;
                                    display: block;
                                }
                                .inc_product_add_block {
                                    white-space: nowrap;
                                    width: 100%;//186px;
                                    //padding: 0 10px;
                                    opacity: 0.5;
                                    pointer-events: none;
                                    @media screen and (max-width: 767px) and (min-width: 680px){
                                        width: 80%;
                                    }
                                    
                                    // display: none    
                                    &.added_inc {
                                        display:block;// flex !important;
                                        visibility: visible;
                                        opacity: 1;
                                        pointer-events: all;
                                    }

                                    &.inc_disable {
                                        opacity: 0.5;
                                        pointer-events: none;
                                        cursor: not-allowed;
                                    }

                                    .inc_product_add_text_block {
                                        //background: #1d2024;
                                        color: white;
                                        .inc_product_add_text{
                                            @media screen and (max-width: 840px) and (min-width: 767px){
                                                font-size: 14px;
                                            }
                                            @include media_query("420", " max") {
                                                font-size: 14px;
                                            }
                                            @include media_query("360", " max") {
                                                font-size: 12px;
                                            }
                                            @media screen and (max-width: 340px){
                                                font-size: 10px;
                                                padding: 8px 2px;
                                            }
                                            
                                        }
                                    }
                                }

                                .inc_product_qty_block {
                                    display: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}