//Mixins
@import "_mixins";

//EXTENDs
@import "_extends";

//Product card style
@import "_product";

//Modal page
@import "_modal";

//PDP style
@import "_pdp";

//Sidebar style
@import "_sidebar";

//Cartpage
@import "_cart";
@import "_tickbox";
.inc_overlay {
  overflow: hidden;

  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    overflow-x: hidden !important;
  }

  @supports (-webkit-touch-callout: none) {
    @media only screen and (max-width: 480px) {
      height: 100vh;
    }
  }

  #DW-SFToolkit {
    display: none !important;
  }

  body {
    overflow: hidden !important;
  }
}

#inc_overlay,
.inc_mobile_overlay {}

.inc_local-progress-self:before,
.inc_local-progress:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.8;
}

.inc_local-progress::after,
.inc_local-progress-self::after {
  background: url(https://www.increasingly.co/Implementation/l0vHNy/images/LH-heart-outline.svg) no-repeat;
}

.inc_local-progress-self:after,
.inc_local-progress-self:before,
.inc_local-progress:after,
.inc_local-progress:before {
  content: "";
  position: fixed;
  z-index: 999999999;
  animation: show-loader 0.3s ease-in;
}

.inc_local-progress-self:after,
.inc_local-progress:after {
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  width: 56px;
  height: 56px;
  background-size: 100% 100%;
  opacity: 1;
}

.inc_product_description_main_block .accordion-icon {
  display: none;
}

.inc_excvat_show .inc_product_desc_price_active_text.incvat_ {
  display: none !important;
}

.inc_incvat_show .inc_product_desc_price_active_text_exc {
  display: none !important;
}

.inc_incvat_show .inc_product_desc_price_regular_text_exc {
  display: none !important;
}

.inc_excvat_show .inc_product_desc_price_regular_text.incvat_ {
  display: none !important;
}

.inc_excvat_show .inc_pdp_bundle_cart_added_product_price_text.incvat_ {
  display: none !important;
}

.inc_incvat_show .inc_pdp_bundle_cart_added_product_price_text_exc {
  display: none !important;
}

.inc_excvat_show .inc_pdp_bundle_cart_summary_price_active_text.incvat_ {
  display: none !important;
}

.inc_incvat_show .inc_pdp_bundle_cart_summary_price_active_text_exc {
  display: none !important;
}

.inc_excvat_show .inc_pdp_bundle_cart_summary_price_regular_text.incvat_ {
  display: none !important;
}

.inc_incvat_show .inc_pdp_bundle_cart_summary_price_regular_text_exc {
  display: none !important;
}

.inc_excvat_show .inc_cart_added_product_desc_subtotal_price_active_text.incvat_ {
  display: none !important;
}

.inc_incvat_show .inc_cart_added_product_desc_subtotal_price_active_text_exc {
  display: none !important;
}

.inc_excvat_show .inc_cart_added_product_desc_subtotal_price_regular_text.incvat_ {
  display: none !important;
}

.inc_incvat_show .inc_cart_added_product_desc_subtotal_price_regular_text_exc {
  display: none !important;
}

.inc_excvat_show .inc_cart_added_product_desc_price_active_text.incvat_ {
  display: none !important;
}

.inc_incvat_show .inc_cart_added_product_desc_price_active_text_exc {
  display: none !important;
}

.inc_excvat_show .inc_cart_added_product_desc_price_regular_text.incvat_ {
  display: none !important;
}

.inc_incvat_show .inc_cart_added_product_desc_price_regular_text_exc {
  display: none !important;
}